# python
__pycache__/
*.py[cod]
*$py.class

# entornos virtuales
.venv/
venv/
env/

# variables de entorno
.env

# logs
*.log
server_log.txt

# bases de datos
*.sqlite3
*.db

# node.js
node_modules/

# deploy
.vercel

# OS
.DS_Store
Thumbs.db

# configuración de editores
.vscode/
.idea/
*.swp
*.swo

# backups
*.bak
*.bak*
*_backup
*.tmp
*.temp
*~
