@font-face {
    font-family: 'Instrument Serif';
    src: url('../fonts/InstrumentSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Serif';
    src: url('../fonts/InstrumentSerif-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

:root {
    --color-bg: #FAFAF5;
    /* Cream */
    --color-text: #2C2C2C;
    --color-primary: #6B7F6E;
    /* Muted Green */
    --color-secondary: #8C7B70;
    /* Earthy Brown */
    --color-accent: #D8D8D0;
    /* Light Beige */
    --color-white: #FFFFFF;
    --color-cream: #ede4d6;
    /* Paper Cream */
    --color-bordeaux: #964015;

    --font-serif: 'Instrument Serif', serif;
    --font-sans: 'Raleway', sans-serif;

    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 4rem;
    --spacing-xl: 8rem;
}